PORT= #Porta do servidor backend
DB_PORT= #Porta banco de dados
DB_NAME= #Nome banco de dados
DB_PASS= #Senha do banco de dados
DB_USER= #Usuário banco de dados por padrão root
DB_HOST= #Host por padrão localhost

JWT_SECRET= #Chave JWT